*,
*::after,
*:before {
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: rgb(90, 199, 199);
}

html {
  font: normal 20px/1.5 sans-serif;
  font-family: 'Karla', sans-serif;
}
h1 {
  text-align: center;
  margin: 40px;
}
form {
  margin: auto;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  background-color: white;
}
.form-container {
  display: flex;
  border-radius: 6px;
}

.form-box {
  padding: 1rem;
  clear: both;
  width: 100%;
  position: relative;
  text-align: center;
}
.form-box label {
  font-size: 1rem;
  float: left;
  width: 100px;
  margin-right: 20px;
}
.form-box input {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}
.form-box select {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
  font-family: 'Karla', sans-serif;
}
.form-box option {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"] {
  font-size: 1rem;
}
.form-box button {
  font-size: 1rem;
  border: none;
  padding: 0.25rem 2rem;
  /* margin-right: 1rem; */
  color: white;
  background-color: rgb(138, 136, 136);
  cursor: pointer;
  margin: 10px;
  font-family: 'Karla', sans-serif;
  border-radius: 3px;
}

.error::after {
  color: rgb(211, 14, 14);
  font-size: 1rem;
  line-height: 1.8;
  content: attr(data-errormsg);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Karla', sans-serif;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Karla', sans-serif;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Karla', sans-serif;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Karla', sans-serif;
  }

  @media screen and (max-width: 600px) {
      .form-box {
          text-align: unset;
      }
  }
